<!DOCTYPE html>
<HTML>
<HEAD>
<title>How to HTML</title>
<style>
body {background-color:#ACD1AF;}
h1   {color:#666666;}
p    {color:#Afeeee;}
</style>

</HEAD>
<body>
<center>
<div style="border:5px inset #Afeeee; text-allign:center; width:70%; border-radius:15px;">

<H1>How to make a HTML website<br>Part 1</H1>
</div>

<h2>Step 1<br> Getting Everything ready</h2>
<H3>Part 1<br>Where to save files and pictures<H3> 
<p> Start By right clicking on your desktop. Once the small menu pops up go down to where it says <b>NEW</b> then click on <b>FOLDER</b>. After that you can name it what ever you want.</p> 
<h3>Step 1</h3><img src="/images/Screenshot (3).png" length="200" width="175"> <h3>Step 2</h3><img src="/images/Screenshot (4).png" length="200" width="175"> 
<h3>Part 2<br>How to make html file<h3>
<p>First click the windows key so the search menu appears then search notepad after it appears click open once its open click <b>Ctrl-S</b> when it asks to put a name put whatever you want but at the end be sure to put <b>.html</b> make sure it is all files after click save. Then open files app go to quick access drag and drop the file with <b>name.html</b> into the folder on your desktop then done you have your ready to start typing code</p>
<h3>Step 1</h3><img src="/images/Screenshot_20221025_062626.png" length="100" width="175">
<h3>Step 2</h3><img src="/images/Screenshot_20221025_062649.png" length="100" width="175">
<h3>Step 3</h3><img src="/images/Screenshot_20221025_062801.png" length="100" width="175">
<h3>Step 4</h3><img src="/images/Screenshot_20221025_062842.png" length="100" width="175">
<h3>Step 5</h3><img src="/images/Screenshot_20221025_062935.png" length="100" width="175">
<h3>Step 6</h3><img src="/images/Screenshot_20221025_062935.png" length="100" width="175">

<div style="border:5px inset #Afeeee; text-allign:center; width:70%; border-radius:15px;">
<a href="C:\Users\jayay\OneDrive\Desktop\How to code html\name.html" target="_blank">
<h2>How to make a HTML website<br>Part 2</H1>
</a>
</div>
</body>
</HTML>